/* Todo el documento*/
html{
    font-family: 'Times New Roman', Times, serif;
}

/* Toda la página */
body {
    margin: 0;
    background-color: #dfdfdf;
}

/* La parte de arriba*/
.page-head {
    background-color: rgb(200, 10, 20);
    padding: 3rem 2rem;
    color: white;
}

.head-title{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}


.heading {
    /*
    */
    padding: 0 0 40px;
}

.logo-head {
    padding: 0;
}

.title {
    /*
    */
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-bottom: 15px double black;
    border-top: 15px double black;
}

.subtitle {
    /*
    
    */
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    word-spacing: 2px;
}

/* Cada post individual*/
.post {
    width: 500px;
    margin: 10rem auto 20rem; 
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    border: 5px solid #222;
    border-radius: 5px;
    padding: 20px;
}

.post:hover{
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
}

.post-photo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-photo:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
/* El cuerpo de cada post */
.post-content {
    /*
    */
    margin: 10px 0;
    padding: 10px 30px; 
    border-top: 5px solid #efefef;
    text-align: justify;    
}

img {
    display: block;
    margin: 0 auto;
}
