/* Todo el documento*/
html{
    /*
    font-family: 'Times New Roman', Times, serif;
    */
    font-family: 'Oswald';
}

/* Toda la página */
body {
    margin: 0;
    background-color: #dfdfdf;
}

/* La parte de arriba*/
.page-head {
    background-color: #1c4065;
    color: white;
    text-align: center;
    
}

.head-elements{
    padding: 0 10rem;
    /*
    
    */
    font-family: 'Times New Roman', Times, serif;
}

.head-title{
    display: inline-block;
    padding-bottom: 10px;
    border-top : 10px double black;
    border-bottom: 10px double black;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 10px;
}

.head-subtitle{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
}


.navbar {
    /*
    
    */
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 10rem;
}

.navbar-item {
       /*
       
       */
    color: white;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;

    border-left: 2px solid #026a13;
    border-right: 2px solid #026a13;

    transition: transform 0.3s ease;
}

.navbar-item:hover {
    transform: scale(1.10);
}



.heading {
    /*
    */
    padding: 0 0 40px;
}

.logo-head {
    padding: 0;
}



/* Cada post individual*/
.post {
    width: 500px;
    margin: 50px auto 50px; 
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    border: 5px solid #222;
    border-radius: 5px;
    padding: 20px;
}

.post:hover{
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
}

.title {
    /*
    */
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-bottom: 15px double black;
    border-top: 15px double black;
}

.subtitle {
    /*
    
    */
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    word-spacing: 2px;
}


.post-photo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-photo:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
/* El cuerpo de cada post */
.post-content {
    /*
    */
    margin: 10px 0;
    padding: 10px 30px; 
    border-top: 5px solid #efefef;
    
    /*
    
    */
    text-align: justify;
}


.buttons-container {
    /*
    
    */
    display: flex;
    justify-content: flex-end;
}


.share-button {
    /*
    
    */
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(img/share_button.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
}

.like-button {
    /*
    
    */
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(img/like_button.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;

}

.comment-button {
    /*
    
    */
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(img/comment_button.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
}

img {
    display: block;
    margin: 0 auto;
}


.staff-members-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 5rem;
}

.staff-member-item {
    width: calc(30% - 100px); /* Establece el ancho de cada caja (33.33% del contenedor - margen) */
    border: 5px solid black;
    margin: 1rem 5px;
    background-color: #1c4065;
    /*
    
    */
}

.staff-member-photo{
    margin-top: 10px;
    width: 50%;
    object-fit: cover;
}

.staff-name {
    text-align: center;
    color: #6e797c;
    font-size: larger;
    margin: 1.5rem;
}

.staff-member-description {
    margin: 20px 30px 10px;
    color: #fff;
}

