/* Todo el documento*/
html{
    /*
    font-family: 'Times New Roman', Times, serif;
    */
    font-family: 'Oswald';
}

/* Toda la página */
body {
    margin: 0;
    background-color: #dfdfdf;
}



/* La parte de arriba*/
.page-head {
    background-color: #1c4065;
    color: white;
    text-align: center;
    
}

.head-elements{
    padding: 0 10rem;
    /*
    
    */
    font-family: 'Times New Roman', Times, serif;
}

.head-title{
    display: inline-block;
    padding-bottom: 10px;
    border-top : 10px double black;
    border-bottom: 10px double black;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 10px;
    text-shadow: 4px 0px 1px rgba(0, 0, 0, 1);
    color: #bebebe;
}

.head-subtitle{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
}


.navbar {
    /*
    
    */
    /* position: fixed; */
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content:center;
    padding: 10px 20px;
}

.navbar-item {
       /*
       
       */
    color: white;
    margin-right: 15px;
    margin-left: 15px;
    padding: 0.3rem 2rem;
    text-decoration: none;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;

    border-left: 2px solid #026a13;
    border-right: 2px solid #026a13;

    transition: transform 0.3s ease;
}

.navbar-item:hover {
    transform: scale(1.10);
}



.heading {
    /*
    */
    padding: 0 0 40px;
}

.logo-head {
    margin: 0 auto;
    display: block;
    width: 100%;

}



/* Cada post individual*/
.post {
    width: 600px;
    margin: 50px auto 50px; 
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    border: 5px solid #222;
    border-radius: 5px;
    padding: 20px;
}

.post:hover{
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
}

.title {
    /*
    */
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-bottom: 15px double black;
    border-top: 15px double black;
}

.subtitle {
    /*
    
    */
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    word-spacing: 2px;
}


.post-photo {
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 900px;
}

.post-photo:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.post-date {
    display: flex;
    justify-content: flex-end;
}
/* El cuerpo de cada post */
.post-content {
    /*
    */
    margin: 10px 0;
    padding: 10px 30px; 
    border-top: 5px solid #efefef;
    
    /*
    
    */
    text-align: justify;
}


.buttons-container {
    /*
    
    */
    display: flex;
    /* flex-direction: column;
    align-items: flex-end; */
    justify-content: flex-end;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container button {
    /*
    
    */
    width: 40px;
    height: 40px;
    margin-left: 15px;
    background-color: #1c4065;
    color: #fff; 
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.buttons-container button:hover {
    background-color: #24619f;
}

.buttons-container button i {
    margin: auto;
}

.buttons-container p {
    margin-top: 5px;
    margin-left: 25%;
    font-size: 16px;
    /* background-color: #888; */
}




.article-comment-section {
    display: none;
    margin-top: 5%;
    margin-bottom: 5%;
}



.text-article-comment, .buttons-article-comment, .article-comment{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.text-article-comment textarea {
    resize: none;
    background: #fff;
    padding: 6px 10px;
    width: 85%;
    height: 20px;

    border: none;
    border-bottom: 2px solid #888;
    border-radius: 5px;
}

.text-article-comment textarea:focus{
    outline: none;
}


.new-article-comment img, .article-comment img {
    border-radius: 50%;
    border: 3px solid #000;
    width: 8%;
    height: 8%;
    margin-right: 18px;
}

.buttons-article-comment button {
    border: none;
    border-radius: 35px;
    margin: 0 5px;
    padding: 10px;
    background: #fff;

    transition: background-color 0.5s ease;
}

.buttons-article-comment button:hover {
    background-color: #ccc;
    cursor: pointer;
}
 
.article-comment {
    margin: 5px 0;
    justify-content: flex-start;
}


.article-comment img {
    margin-top: 20px;
}



.comment-user-data {
    margin-top: 5px;
    height: 25px;
    font-size: 13px;
    display: flex;
    /* background: #1c4065;     */
}


.comment-user-data :nth-child(1) {
    color: #000;
    font-style: italic;
}
.comment-user-data :nth-child(2) {
    color: #666;
    margin-left: 8px;
}


.comment-user-text {
    margin-bottom: 20px;
    /* background: #026a13; */
    width: 500px;
}

.comment-user-text p {
    word-wrap: break-word;
    font-size: 14px;
    /* overflow-y: auto; */
    /* background-color: #24619f; */
}











.staff-members-list {
    /*
    
    */
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 5vw;
}

.staff-member-item {
    /*
    
    */
    min-width: 200px;
    width: calc(25% - 20px); 
    min-height: 40rem;
    max-height: 120rem;
    border: 5px solid black;
    margin: 1rem 5px;
    background-color: #1c4065;
    transition: box-shadow 0.1s ease;
}
.staff-member-item:hover {
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
}


.staff-member-photo{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

.staff-member-photo:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.staff-name {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #000000;
    font-size: larger;
    margin: 1.5rem;
    text-decoration: underline;
}

.staff-member-description {
    letter-spacing: 2px;
    margin: 20px 30px 10px;
    color: #fff;
}


.about-us-description {
    margin: 80px 250px;
    font-size: 25px;
}

.about-us-description h1 {
    font-size: 50px;
}


#create-article-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 40px;
    border-radius: 9px;
    background: #1c4065;
    color: #fff;
}

#error-message {
    color: #c99;
}



.page-footer {
    margin-top: 100px;
    padding-top: 20px;
    background-color: #a8a8ac;
}





/*
.login-container {
    width: 400px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 40px;
    border: 4px double #000;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}



input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
*/



#login-container, #signup-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 700px;
    max-width: 90%;
    min-height: 300px;
    margin: 30px auto;
}

#signup-container {
    display: none;
}


#login-form-container p, #signup-form-container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}


#login-form-container button, #signup-form-container button{
    background-color: #1c4065;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}


#login-form-container, #signup-form-container, #signup-option{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
}

#signup-form-container{
    align-items: start;
}

#signup-container {
    width: 500px;
}


#signup-form-container div{
    margin: 12px 0;
    margin-right: 20%;
}


#login-form-container input, #signup-form-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}



#signup-picture img {
    border-radius: 50%;
    border: 5px #1c4065 solid;
    width: 50%;
}

#signin-option {
    margin-left: 5%;
    font-size: medium;
}
#signup-option{
    font-size: medium;
}

#signup-option-btn, #login-option-btn  {
    background-color: #1c4065;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 5px;
}











#welcome-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 700px;
    max-width: 90%;
    min-height: 600px;
    margin: 30px auto;
}

#welcome-text {
    font-size: xx-large;
    margin-left: 20px;
    margin-top: 50px;
}

#user-picture {
    margin-top: 10px;
    margin-right: 40px; 
    width: 30%;
    float: right;
    border-radius: 8px;
}










#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}

#new-article-modal {
    position: fixed;
    width: 35%;
    height: auto;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    padding: 20px;
    border: 5px solid #222;
    border-radius: 5px;


    text-align: center;
    font-size: medium;
    overflow-y: auto;
    display: none;
}

@media screen and (max-width: 900px) {
    #new-article-modal {
        width: 60%; 
        max-width: none; 
    }
}

#new-article-modal div {
    margin-bottom: 20px;
}

#new-article-logo-head {
    width: 95%;
}

#new-article-modal input {
    margin-bottom: 20px;
    margin-top: 5px;

    border-radius: 5px;

    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

#new-article-title {
    resize: none;
    overflow-y: hidden;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-bottom: 10px double black;
    border-top: 10px double black;

    width: 90%;
    height: 40px;
}

#new-article-subtitle {
    resize: none;
    overflow-y: hidden;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    word-spacing: 2px;
    width: 65%;
}

#new-article-img-container{
    margin-top: 30px;
}

#new-article-img-container label {
    background: #a8a8ac;
    border: solid #000;
    border-radius: 8px;
    padding: 5px;
}

#new-article-img-file {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#new-article-img {
    margin-top: 30px;
}

#new-article-img-container button {
    margin-top:  20px;
    display: none;
}

#new-article-body-container {
    margin: 10px 0;
    padding: 10px 30px; 
    border-top: 5px solid #b4b3b3;
    border-radius: 5px;
    /*
    
    */
}


#new-article-date {
    position:absolute;
    right: 10px;
    text-align: right; 
}


#new-article-body {
    resize: none;
    margin-top: 80px;
    width: 100%;
    height: 400px;

    border: 2px solid #ccc;
    border-radius: 5px;

}

#new-article-body::-webkit-scrollbar {
    width: 12px;
}

#new-article-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#new-article-body::-webkit-scrollbar-thumb:hover {
    cursor:auto
}

